
html {
    background: #333333;
}

body {
    width: 80%;
    margin: auto;
    background: white;
    text-align: center;
}

h1 {
    margin: 0;
}

#map {
    background-color: #8dd3c7;
}

.countries {
    stroke: #ffed6f;
    fill: #ffffb3;
}

/*Map grid style*/
.grat {
    stroke: grey;
    stroke-width: 1px;
    opacity: .2;
}

/* #map-view {
    margin-left: 750px;
    width: 910px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-left-style: solid;

    ["","#","#bebada","#fb8072","#80b1d3","#fdb462","#b3de69","#fccde5","#d9d9d9","#bc80bd","#ccebc5","#"]
} */
